
-Warning: forwardRef render functions accept exactly two parameters: props and ref. Did you forget to use the ref parameter?

-Warning: Received `false` for a non-boolean attribute `className`.

If you want to write it to the DOM, pass a string instead: className="false" or className={value.toString()}.




-dashboard-----=> view all => pending action=>  Warning: Each child in a list should have a unique "key" prop.
          => change order=> order-details=> Warning: Each child in a list should have a unique "key" prop.
       index.js:1350 Warning: findDOMNode is deprecated in StrictMode. findDOMNode was passed an instance of    Transition which is inside StrictMode. Instead, add a ref directly to the element you want to reference. Learn more about using refs safely here:

-Service Requests  ----=>Warning: Using UNSAFE_componentWillMount in strict mode is not recommended and may indicate    bugs in your code
=>Warning: findDOMNode is deprecated in StrictMode. findDOMNode was passed an instance of Transition which is inside StrictMode. Instead, add a ref directly to the element you want to reference. Learn more about using refs safely here


    